.container {
  .centerbg {
    padding: 89px 0;
    position: relative;
    background: linear-gradient(
      to bottom,
      #fdf7ff30 0%,
      #c1cff830 40%,
      #e0e1e430 90%,
      #e3e3e330 100%
    );

    .rightTopImage {
      position: absolute;
      right: 0;
      top: 0;
    }
    .leftBottomImage {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}
