node_modules
coverage
dist
/server

.umi
.umi-test
.umi-production
.dumi/tmp*
.env.local
.idea
.node
.history
.DS_Store
*.tgz

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
package-lock.json
package.json.lerna_backup

.turbo

*.map

**/raw/*.ssz

*.crt
*.key
*.pem
