.container {
  .title {
    text-align: center;
    font-size: 38px;
    margin: 100px 0 24px 0;
  }
  .desc {
    text-align: center;
  }
  .card {
    width: 737px;
    margin: 56px auto;
    border-radius: 24px;
  }
  .controls {
    display: flex;
    justify-content: center;
  }
  .themeBtns {
    text-align: center;
    span {
      display: inline-block;
      svg {
        cursor: pointer;
        opacity: 0.5;
        width: 32px;
        height: 32px;
      }
      .lightIcon,
      .darkIcon {
        color: #333;
        &.selected {
          opacity: 1;
        }
      }
    }
    &.dark {
      .lightIcon,
      .darkIcon {
        color: #fff;
      }
    }
  }
  .colorSelector {
    margin-left: 80px;
    display: flex;
    .colorItem {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
      background-color: var(--color);
      cursor: pointer;
      box-sizing: border-box;
      overflow: hidden;
      &.selected {
        outline: 2px solid var(--color);
        outline-offset: 1px;
      }
      &.auto {
        position: relative;
        background: #fff;
        outline: 2px solid #ddd;
        &::before,
        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: linear-gradient(
            45deg,
            rgba(0, 0, 0, 0.1) 25%,
            transparent 25%,
            transparent 75%,
            rgba(0, 0, 0, 0.1) 75%,
            rgba(0, 0, 0, 0.1)
          );
          background-size: 20% 20%;
        }

        &::after {
          transform: rotate(90deg);
        }

        &.selected {
          outline: 2px solid #999;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    .card {
      width: auto;
      z-index: 3;
      margin: 20px;
    }
    .themeBtns {
      svg {
        width: 18px !important;
        height: 18px !important;
      }
    }
    .colorSelector {
      margin-left: 40px;
      .colorItem {
        width: 18px;
        height: 18px;
      }
    }
  }
}
