.container {
  width: 1200px;
  margin: 89px auto 0;
  display: flex;
  justify-content: space-between;
  .item {
    width: 350px;
    white-space: break-word;
    .icon {
      width: 72px;
      height: 72px;
      background-color: #f5f5f5;
    }
    .title {
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 28px;
      margin-block-start: 12px;
      margin-block-end: 8px;
    }
    .desc {
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
