.container {
  .title {
    text-align: center;
    font-size: 38px;
    margin: 100px 0 24px 0;
  }
  .desc {
    text-align: center;
  }
  .card {
    max-width: 737px;
    max-height: 557px;
    margin: 56px auto;
    background-color: #fff;
    border-radius: 8px;
  }
}
