.container {
  width: 100%;
  padding: 100px 0 67px;
  background-color: #fff;
}
.title {
  text-align: center;
  font-size: 38px;
  margin: 100px 0 24px 0;
}
.desc {
  text-align: center;
}
.imgList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100vw;
  height: 434px;
  margin-top: 69px;
}
.buttons {
  width: 242px;
}
.dropdown {
  width: 384px;
}
.tooltip {
  width: 314px;
}
.profile {
  width: 335px;
}
.connect {
  width: 485px;
}
.footer {
  margin-top: 67px;
  text-align: center;
  line-height: 22px;
}
.footerText {
  font-family: HelveticaNeue;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
}
.footerDesc {
  font-family: HelveticaNeue-Medium;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.85);
}
