html,
body {
  margin: 0;
  padding: 0;
  #root {
    .dumi-default-header-left {
      width: 300px;
    }
    .dumi-default-header-right {
      justify-content: end;
    }
    .dumi-default-navbar {
      margin-right: 24px;
    }

    .dumi-default-hero-title {
      font-size: 80px;
    }
  }
}
